.main {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.footer {
  text-align: center;
  position: sticky;
  bottom: 0;
  height: 100px;
  width: 100%;
  color: azure;
  font-size: 1.5rem;
  background-color: cadetblue;
}
