body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}
h1 {
  color: blueviolet;
}
.container {
  text-align: center;
}
.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  color: azure;
  font-size: 1.5rem;
  background-color: cadetblue;
}
.images img {
  width: 200px;
  height: 200px;
}
.getHour {
  text-align: center;
}
.time {
  font-size: 50px;
  font-weight: bold;
  border-bottom: 5px solid cadetblue;
}
