.button {
  font: inherit;
  border: 1px solid #4f005f;
  border-radius: 5px;
  background: #454b58;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #0f7692;
  border-color: #741188;
}

.button:focus {
  outline: none;
}
